@import "mixins";
@import "variables";


/* START:Quick search
 ********************************************************************************* */
body {
    &:not(.body__inner) {
        .quick-search {
            &__frontpage .quick-search__wrapper {
                margin-top: -178px;
            }
        }
    }
}

.quick-search {
    background-color: transparent;
    padding-bottom: 0;
    position: relative;
    z-index: 9;

    &__inner-pages {
        .quick-search {
            background: none;
        }

        .quick-search__wrapper {
            padding: 40px;
            margin: -150px auto 0;

            @media all and (min-width: 767px) {
                max-width: 1050px;
            }

            @media all and (max-width: 767px) {
                padding: 0 50px 40px;
                margin-top: -164px;
            }

            @media all and (max-width: 620px) {
                padding: 0 0 15px;
            }
        }
    }

    &__frontpage .quick-search__wrapper {
        margin-top: -60px;
    }

    .row {
        text-align: center;
    }

    &__wrapper {
        background-color: transparent;
        margin: 0 auto;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .form-group {
        @media all and (max-width: 480px) {
            width: 100%;
            margin-left: 0;
        }
    }

    .form-group__btn {
        width: $quick-search-btn-width-lg;
        padding-left: 10px;
        padding-right: 10px;

        @media all and (max-width: 1200px) {
            width: $quick-search-btn-width-md;
        }

        @media all and (max-width: 992px) {
            padding-left: 10px;

            .btn {
                min-width: auto;
            }
        }
    }

    .form-group__input {
        width: $quick-search-form-control-width-lg;
        padding: 0 10px;

        @media all and (max-width: 1200px) {
            width: $quick-search-form-control-width-md;
        }

        &.full {
            width: $quick-search-form-control-width-lg * 1.5;

            @media all and (max-width: 1200px) {
                width: $quick-search-form-control-width-md * 1.5;
            }

            @media all and (max-width: 767px) {
                width: 100%;
            }
        }
    }

    .form-group__btn,
    .form-group__input {
        @media all and (max-width: 767px) {
            width: 100%;
            padding: 0 15px;
        }
    }

    .form-control,
    &__find,
    .dropdown-radius {
        width: 100%;
        height: 38px;
        text-align: center;
    }

    .form-control {
        border-radius: 20px;
        padding-left: 19px;

        @media all and (min-width: 767px) {
            text-align: left;
            @include placeholder {
                text-align: left;
            }
        }
    }

    &__find {
        padding: 8px 12px;
        border-radius: 20px;
        background-color: $link-color;
        border-color: $link-color;
        text-transform: capitalize;
        font-size: $font-size-large;

        &:hover {
            background-color: $link-color-hovered;
        }
    }
}